
/* header section*/
.header {
	text-align: center;
}
.header h1 {

}
.header p {

}
.form-group {

}
.form-group p {

}
.form-group input {

}
.form-group button {

}
.correct {
	color: white;
	background-color: green;

}
.incorrect {
	color: white;
	background-color: red;

}
.empty {
	color: white;
	background-color: gray;

}