
/* header section*/
.header {
	text-align: center;
}
.header h1 {

}
.header p {

}
.form-group {

}
.form-group p {

}
.form-group input {

}
.form-group button {

}
.correct {
	color: white;
	background-color: green;

}
.incorrect {
	color: white;
	background-color: red;

}
.empty {
	color: white;
	background-color: gray;

}

/*Answer Output*/
.answer-correct {
	background-color: green;
	color: white;
}
.answer-incorrect {
	background-color: red;
	color: white;
}
.answer-didntAnswer {
	background-color: grey;
	color: white;
}